<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-feature android:name="android.hardware.camera" android:required="false"/> <!-- Bu uygulamanın kamera erişimi gerektiğini belirtir -->

  <!-- Bu etiket, bu uygulamanın ARCore gerektirdiğini belirtir. Bu, uygulamanın yalnızca ARCore'u destekleyen cihazlarda Google Play Store'da görünür olmasını sağlar. -->
  <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
  <uses-feature android:glEsVersion="0x00020000" android:required="true" />

  <application
      android:allowBackup="false"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="false"
      tools:ignore="GoogleAppIndexingWarning">

    <activity
        android:name="com.google.ar.core.codelab.depth.DepthCodelabActivity"
        android:configChanges="orientation|screenSize"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:screenOrientation="locked">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/> <!-- Bu etkinliğin ana etkinlik olduğunu belirtir -->
        <category android:name="android.intent.category.LAUNCHER"/> <!-- Bu etkinliğin başlatıcıda görünmesini sağlar -->
      </intent-filter>
    </activity>

    <!-- Bu etiket, bu uygulamanın ARCore gerektirdiğini belirtir. Bu, Google Play Store'un uygulama ile birlikte ARCore'u indirip yüklemesini sağlar. -->
    <meta-data android:name="com.google.ar.core" android:value="required" />
  </application>
</manifest>
